.Home-page{
    width:100%;
    min-height:91.5vh;
    max-height: auto;
}

.homing{
    width:600px;
    height: 600px;
}
.viewBook{
    text-decoration: none;
}
.viewBook:hover{
    color: aliceblue;
}